<template name="waveform">
  <div class="row">
    <div class="col-md-6">
      {{> game}}
    </div>
    <div class="col-md-6">
      <div>
        <label for="file">
          Input audio
        </label>
        <input type="file" id="file">
      </div>
      <div>
        <label>
          Previous average energy coefficient | {{previousAverageEnergyCoefficient}}
        </label>
        <input name="previous-average-energy-coefficient" type="range" min="0" max="3" step="0.1" value="{{previousAverageEnergyCoefficient}}">
        <p>This acts like a threshold, requiring a bigger change in energy to trigger a beat</p>
      </div>
      {{#if advancedInterface}}
        <div>
          <label>
            {{previousEnergyVarianceCoefficient}} | Previous energy variance coefficient
          </label>
          <input name="previous-energy-variance-coefficient" type="range" min="-0.001" max="0.001" step="0.0001" value="{{previousEnergyVarianceCoefficient}}">
        </div>
        <div>
          <label>
            {{samplesPerInstantEnergy}} | Samples per instant energy
          </label>
          <input name="samples-per-instant-energy" type="range" min="1" max="4096" step="1" value="{{samplesPerInstantEnergy}}">
        </div>
        <div>
          <label>
            {{numberOfPreviousSamples}} | Number of previous samples
          </label>
          <input name="number-of-previous-samples" type="range" min="1" max="128" step="1" value="{{numberOfPreviousSamples}}">
        </div>
      {{/if}}
      <form class="form-inline">
        <button class="btn btn-lg btn-info" name="play" {{disabled}}>
          <span class="glyphicon glyphicon-{{playButtonText}}"></span>
          {{playButtonText}}
        </button>
        {{bpm}} bpm
        <div class="checkbox">
          <label>
            <input type="checkbox" name="click" {{clickChecked}}/>
            click track
          </label>
        </div>
        <div class="form-group">
          <input name="zoom" type="range" min="1" max="20" step="1" value="{{zoom}}">
          <label for="zoom">
            <span class="glyphicon glyphicon-zoom-in"></span>
            &times; {{zoom}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="advanced" {{advancedInterfaceChecked}}/>
            more buttons
          </label>
        </div>
      </form>
    </div>
  </div>

  <div class="clearfix"></div>
  <canvas id="beat"></canvas>
  <canvas id="waveform"></canvas>
  <canvas id="convolution"></canvas>
  <canvas id="timeline"></canvas>
  {{#unless hasPcmAudioData}}
    {{> spinner}}
  {{/unless}}
</template>
