<template name="waveform">
  <div>
    <input type="file" id="file">
  </div>
  <div>
    <input name="previous-average-energy-coefficient" type="range" min="0" max="3" step="0.1" value="{{previousAverageEnergyCoefficient}}">
    <label>
      {{previousAverageEnergyCoefficient}} | Previous average energy coefficient
    </label>
    <p>This acts like a threshold, requiring a bigger change in energy to trigger a beat</p>
  </div>
  <div>
    <input name="previous-energy-variance-coefficient" type="range" min="-0.001" max="0.001" step="0.0001" value="{{previousEnergyVarianceCoefficient}}">
    <label>
      {{previousEnergyVarianceCoefficient}} | Previous energy variance coefficient
    </label>
  </div>
  <div>
    <input name="samples-per-instant-energy" type="range" min="1" max="4096" step="1" value="{{samplesPerInstantEnergy}}">
    <label>
      {{samplesPerInstantEnergy}} | Samples per instant energy
    </label>
  </div>
  <div>
    <input name="number-of-previous-samples" type="range" min="1" max="128" step="1" value="{{numberOfPreviousSamples}}">
    <label>
      {{numberOfPreviousSamples}} | Number of previous samples
    </label>
  </div>
  <div>
    <button name="play" {{disabled}}>{{playButtonText}}</button>
  </div>
  <div class="clearfix"></div>
  <canvas id="beat"></canvas>
  <canvas id="waveform"></canvas>
  <canvas id="energies"></canvas>
  <canvas id="average-energies"></canvas>
  <canvas id="beats"></canvas>
  <canvas id="timeline"></canvas>
  {{#unless hasPcmAudioData}}
    {{> spinner}}
  {{/unless}}
</template>
