<template name="waveform">
  <div style="position: relative; height: 300px">
    <canvas id="beat"></canvas>
    <canvas id="waveform"></canvas>
    <canvas id="convolution"></canvas>
    <canvas id="timeline"></canvas>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div>
        <button class="btn btn-lg btn-info" name="play" {{disabled}}>
          <span class="glyphicon glyphicon-{{playButtonText}}"></span>
          {{playButtonText}}
        </button>
        {{bpm}} bpm
      </div>
      <div>
        <label for="file">
          Input audio
        </label>
        <input type="file" id="file">
        <p>
          load your own songs (the shorter, the less squished the visualisation will be)
        </p>
      </div>
      <div>
        <label>
          Previous average energy coefficient | {{previousAverageEnergyCoefficient}}
        </label>
        <input name="previous-average-energy-coefficient" type="range" min="0" max="3" step="0.1" value="{{previousAverageEnergyCoefficient}}">
        <p>This acts like a threshold, requiring a bigger change in energy to trigger a beat</p>
      </div>
      {{#if advancedInterface}}
        <div>
          <label>
            {{previousEnergyVarianceCoefficient}} | Previous energy variance coefficient
          </label>
          <input name="previous-energy-variance-coefficient" type="range" min="-0.0001" max="0.0001" step="0.00001" value="{{previousEnergyVarianceCoefficient}}">
        </div>
        <div>
          <label>
            {{samplesPerInstantEnergy}} | Samples per instant energy
          </label>
          <input name="samples-per-instant-energy" type="range" min="1" max="4096" step="1" value="{{samplesPerInstantEnergy}}">
        </div>
        <div>
          <label>
            {{numberOfPreviousSamples}} | Number of previous samples
          </label>
          <input name="number-of-previous-samples" type="range" min="1" max="128" step="1" value="{{numberOfPreviousSamples}}">
        </div>
      {{/if}}
      <form class="form-inline">

        <div class="checkbox">
          <label>
            <input type="checkbox" name="click" {{clickChecked}}/>
            click track (useful for hearing how out of time the beat is)
          </label>
        </div>
        <div class="form-group">
          <input name="zoom" type="range" min="1" max="20" step="1" value="{{zoom}}">
          <label for="zoom">
            <span class="glyphicon glyphicon-zoom-in"></span>
            &times; {{zoom}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="advanced" {{advancedInterfaceChecked}}/>
            more buttons
          </label>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
    {{#markdown}}
## What's going on

Beat detection using the web audio api

It relies a lot of energy in the beat and a constant bpm, so works well with dance tracks.

Try loading your own songs.

## Interpreting the visualisation
- White lines indicate where beats have been detected. Based off finding peaks in the convolution.
- Green is the 'energy' of the track at that time
- Magenta is the average energy of the number of previous samples
- Cyan is the result of the convolution.
- The background flashes green to the calculated bpm

The gap at the beginning is where the buffer is being built.

For fun here is another visualisation with characters jumping, use the arrow keys to move the dog
    {{/markdown}}
    {{> game}}
    </div>
  </div>
  {{#unless hasPcmAudioData}}
    {{> spinner}}
  {{/unless}}

</template>
